/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  #social {
    padding-top: 20px;
  }

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  .hero-unit h1 {
    text-align: center;
  }

  #bio p {
    padding-bottom: 20px;
  }

  #social {
    text-align: center;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  .hero-unit h1 {
    text-align: center;
  }

  #bio p {
    padding-bottom: 20px;
  }
}

.hero-unit {
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0) transparent;
  /* RGBa with 0.75 opacity */
  background: rgba(0, 0, 0, 0.75);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  color: white;
  padding-bottom: 5px;
}

.hero-unit h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 52px;
}

.hero-unit img {
  width: 142px;
  height: 153px;
  margin: 25px auto;
  display: block;
}

#social {
  text-align: center;
}

#social h3 {
  font-family: 'Permanent Marker', cursive;
}

#social li a {
  font-size: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#footer p {
  padding-top: 20px;
  text-align: center;
}

small {
  font-size: 11px;
}